
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
	box-sizing: inherit

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html
	box-sizing: border-box
	font-size: 62.5%

// Default body styles
// -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
body
	color: $color-secondary
	font-family: $main_font
	font-size: 1.6em // Currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 400
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

::-moz-selection
  background: rgba(255,255,255,.99)
  color: #005EE0

::selection
  background: rgba(255,255,255,.99)
  color: #005EE0
