#about-content
  padding-right: 25px
  .about-section
    background-color: #FFF
    display: inline-block
    width: 100%
    box-shadow: 0 2px 2px rgba(0,0,0,.05)
    border-radius: 4px
    margin-bottom: 30px
    border: 1px solid #f1f1f1
    .about-section-title
      height: 55px
      line-height: 55px
      padding: 0 20px
      display: inline-block
      width: 100%
      border-bottom: 1px solid #f1f1f1
      position: relative
      h5
        text-transform: none
        font-size: 17px
        margin-bottom: 8px
        color: #000
        display: inline-block
        width: 100%
      .policy-date
        position: absolute
        top: 11.5px
        background-color: #34bf49
        color: #fff
        padding: 6px 7px
        border-radius: 2px
        right: 20px
        font-size: 13px
        height: auto
        line-height: initial
    .about-content
      padding: 2rem 3.2rem
      line-height: 1.75
      color: #4e4e4e
      a
        border-bottom: 1px solid #000
      p:last-child
        margin-bottom:  0
      .problem
        padding: 0 5px
        color: #a93838
        border-bottom: 1px solid #a93838
      .solution
        padding: 0 5px
        color: #38a95b
        border-bottom: 1px solid #38a95b
