//------------------------------------------
// Breadcrumbs
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!

.nav
  background-color: #ffffff
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05)
  display: inline-block
  width: 100%
  border-top: 1px solid #f1f1f1

.breadcrumb
  border-bottom: none
  border-radius: 4px
  height: 50px
  line-height: 50px
  //padding: 0 2rem
  font-size: 1.45rem
  overflow: hidden
  a
    position: relative
    display: inline-block
    color: rgba(0,0,0,0.6)
    transition: All 0.3s
    &:first-child
      @media(max-width: 375px)
        display: none
    &:before
      font-family: "wpcom-icons"
      content: "\f103"
      float: right
      margin-left: 4px
      margin-right: 4px
      color: rgba(0,0,0,0.4)
    &:last-child
      &:before
        content: none
    &:hover
      color: rgba(0,0,0,0.9)
      &:before
        color: #005ee0
  span
    &:last-child
      a
        &:before
          content: none
