//------------------------------------------
// Cards
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!

.resource-card
  overflow: hidden
  background-color: #FFF
  position: relative
  width: 100%
  padding: 2.5rem 2rem
  border-bottom: 1px solid #F1F1F1
  border-right: none
  transition: all 0.3s
  @media (max-width: 600px)
    padding: 3.5rem 3rem
  @media (max-width: 320px)
    padding: 3rem
  &.featured-resource
    background-color: #fdfcf6
  &.selected-resource
    &:before
      font-family: 'wpcom-icons'
      content: "\f113"
      position: absolute
      right: 10px
      font-size: 22px
      top: 3px
      color: rgba(0,0,0,0.2)
  &:hover
    background-color: #f7fbfd
    .rsc-info
      .rsc-share
        opacity: 1
        visibility: visible
    .rsc-content
      .rsc-title
        &.selected-resource
          &:after
            filter: grayscale(0%)
            -webkit-filter: grayscale(0%)
            opacity: 1
  .resource-link
    display: flex
    flex-wrap: nowrap
    padding-left: 70px
    @media (max-width: 600px)
      flex-wrap: wrap
      padding-left: 0
  .rsc-img
    flex: 1 1 auto
    max-width: 130px
    min-width: 100px
    height: 135px
    background-size: cover
    background-position: top left
    border-radius: 4px
    overflow: hidden
    display: inline-block
    float: left
    box-shadow: 0px 2px 10px rgba(0,0,0,0.08)
    @media (max-width: 600px)
      max-width: 100%
      min-width: 100%
      height: 110px
    &.thumbnail
      background-position: center center
  .rsc-content
    margin-top: 0
    padding-left: 20px
    flex: 1 1 auto
    padding-right: 2rem
    overflow: hidden
    .rsc-title
      font-weight: 500
      color: #383838
      font-size: 1.6rem
      display: block
      font-family: $heading-font
      &.selected-resource
        &:after
          content: ""
          background-image: url('../img/selected.svg')
          width: 17px
          height: 21px
          z-index: 9999
          display: inline-block
          background-size: contain
          vertical-align: middle
          background-repeat: no-repeat
          margin-left: 5px
          filter: grayscale(100%)
          -webkit-filter: grayscale(100%)
          opacity: 0.4
          transition: all 0.3s
    .rsc-desc
      font-weight: 400
      color: rgba(0,0,0,0.5)
      font-size: 1.5rem
      line-height: 1.55
      display: inline-block
      font-family: $main_font
    @media (max-width: 600px)
      max-width: 100%
      min-width: 100%
      padding-left: 0
      margin-top: 15px
    .rsc-desc
      max-width: 100%
      @media (max-width: 600px)
        overflow: auto
        text-overflow: inherit
        white-space: normal
        margin-top: 4px
  .rsc-tags
    text-align: left
    border-top: 1px solid #ECECEC
    width: 100%
    display: inline-block
    padding-top: 20px
    .rsc-tag
      display: inline-block
      float: left
      display: inline-block
      padding: 0 14px
      margin: 0 8px 8px 0
      height: 30px
      line-height: 30px
      border-radius: 4px
      font-size: 1.3rem
      background-color: #f1f1f1
      color: rgba(0,0,0,0.5)
      transition: all 0.3s
      font-weight: 500
      &:hover
        transform: translate(0, -1px)
        color: #232323
  .rsc-ss
    display: inline-block
    overflow: hidden
    width: 100%
    .rsc-ss-item
      border-radius: 4px
      width: 680px
      height: 400px
      overflow: hidden
      box-shadow: 0px 2px 10px rgba(0,0,0,0.15)
      img
        width: 100%
        border-radius: 4px
  .single-ss
    display: inline-block
    width: 100%
    float: left
    padding-bottom: 20px
    .rsc-ss-item
      width: 100%
      height: 400px
      overflow: hidden
      border-radius: 4px
      box-shadow: 0px 2px 10px rgba(0,0,0,0.15)
      img
        width: 100%
        border-radius: 4px
    &.theme-preview
      .rsc-ss-item
        display: inline-block
        float: left
        width: 50%
        height: 235px
      .rsc-source
        display: inline-block
        width: 50%
        padding-left: 20px
        height: 235px
        .source
          height: 100%
          border-radius: 4px
          background-color: #000
          position: relative
          &.source--envato
            background-color: hsl(0,0%,15%)
          .source-content
            position: absolute
            top: 50%
            transform: translate(0, -50%)
            text-align: center
            left: 0
            right: 0
            span
              display: block
              text-transform: uppercase
              color: rgba(255,255,255,0.5)
              font-size: 13px
  .rsc-info
    position: absolute
    bottom: 23px
    left: 240px
    right: 3rem
    border-top: none
    height: 32px
    line-height: 32px
    font-size: 1.4rem
    text-align: left
    font-weight: 400
    @media (max-width: 768px)
      bottom: 25px
    @media (max-width: 600px)
      position: relative
      width: 100%
      float: left
      left: 0
      right: 0
      top: auto
      bottom: auto
      margin-top: 5px
    .rsc-cat
      a
        position: relative
        color: rgba(0,0,0,0.5)
        display: inline-block
        //border: 1px solid #ececec
        height: 28px
        line-height: 27px
        margin: 7px 7px 0 0
        border-radius: 4px
        padding: 0 10px
        transition: All .3s
        background-color: #FFF
        border: 1px solid #ECECEC
        float: left
        font-weight: 500
        &:hover
          transform: translate(0, -1px)
          color: rgba(0,0,0,0.9)
    .rsc-share
      display: inline-block
      float: left
      opacity: 0
      visibility: hidden
      transition: all 0.3s
      span
        margin-right: 5px
        color: rgba(0,0,0,.4)
      a
        display: inline-block
        width: 28px
        height: 28px
        line-height: 27px
        margin-top: 7px
        border-radius: 4px
        color: rgba(0,0,0,.3)
        transition: All 0.3s
        margin-left: 3px
        background-color: #FFF
        border: 1px solid #ECECEC
        text-align: center
        font-size: 15px
        transition: all 0.3s
        &:hover
          transform: translate(0, -1px)
          color: #FFF
          border-color: transparent
          &.facebook
            background-color: #3b5998
          &.twitter
            background-color: #1da1f2
          &.thumblr
            background-color: #35465c
          &.linkedin
            background-color: #0077b5
          &.pinterest
            background-color: #bd081c
          &.mail
            background-color: #6a737b

.featured-style
  flex-wrap: nowrap
  .owl-item
    &:nth-child(2n+1)
      .resource-card
        background-color: #f7fbfd
  .resource-card
    height: 340px
    padding: 20px 30px
    border-right: none
    background-color: #fff
    max-width: 100%
    background-size: cover
    border-bottom: none
    border: 1px solid #efefef
    @media (max-width: 375px)
      height: 370px
    .resource-link
      flex-wrap: wrap
      padding: 0
    .rsc-img
       max-width: 100%
       width: 100%
       height: 150px
       flex: 0 0 100%
    .rsc-content
      flex: 0 0 100%
      width: 100%
      padding: 0
      margin-top: 15px
      .rsc-title
        max-width: 100%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .rsc-desc
        white-space: normal
        overflow: auto
        text-overflow: inherit
        height: 65px
        overflow: hidden
    .rsc-info
      position: relative
      left: 0
      display: inline-block
      right: auto
      margin-top: 20px
      overflow: hidden
      height: 45px
      .rsc-cat
        a
          margin: 13px 7px 0 0
      @media (max-width: 414px)
        margin-top: 0

.resource-loop,
.catdesc-box
  display: flex!important
  justify-content: space-between
  flex-wrap: wrap
  padding: 0!important
  //background-color: #FFF
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05)
  border-radius: 4px
  max-width: 100%
  border: 1px solid #f1f1f1
  &> .column
    padding: 0
    margin: 0
  &.loop--featured
    box-shadow: none
    border-radius: 0
    border: none
    position: relative
  &.archive-style
    .column
      padding: 0
    .resource-card
      height: auto
      border-left: none
      padding: 2rem
      border: 1px solid #F1F1F1
      border-bottom: none
      @media (max-width: 600px)
        padding: 3.5rem 3rem
      &:hover
        background-color: #f7fbfd

.catdesc-box
  margin-top: 30px
  .cat-desc
    padding: 20px
    p
      color: rgba(0,0,0,0.65)

#ajax-load-more
  max-width: 100%
  width: 100%
  .alm-load-more-btn
    margin-bottom: 0

#page
  .wpulike
    position: absolute
    padding: 0
    @media (max-width: 600px)
      right: 20px
    .wp_ulike_btn
      background-color: #FFF
      height: 135px
      width: 55px
      display: block
      text-align: center
      font-size: 16px
      padding: 16px 0
      transition: all 0.3s
      box-shadow: 0 2px 2px rgba(0,0,0,.05)
      border: 1px solid #f1f1f1
      border-radius: 4px
      background-position: 15px 3px
      @media (max-width: 600px)
        border-radius: 0 4px 4px 0
    .wp_ulike_put_image
      &:after
        top: 29%
        background: none
        width: 32px
        height: 32px
        content: "\f105"
        font-family: "wpcom-icons"
        font-size: 30px
        color: #b1b1b1
      &.image-unlike
        border: 1px solid #6ec34a
        &:after
          filter: none
          color: #71bd82
    .count-box
      position: absolute
      bottom: 7px
      left: 0
      right: 0
      margin: 0 7px
      border: 1px solid #f1f1f1
      box-shadow: inset 0 0 3px rgba(0,0,0,0.1)
      font-weight: 500
      font-size: 14px
      &:before
        content: none

.wp_ulike_likers_wrapper
  display: none!important
