.cat-carousel,
.featured-carousel,
.owl-featured
  display: inline-block
  width: 100%
  .owl-stage-outer
    width: 100%
    display: inline-block
  .cat-box
    display: inline-block
    width: 100%
    height: 226px
    border-radius: 0
    overflow: hidden
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    position: relative
    box-shadow: 0 2px 2px rgba(0,0,0,0.1)
    float: left
    @media (max-width: 968px)
      height: 190px
    @media (max-width: 600px)
      height: 180px
    @media (max-width: 320px)
      height: 160px
    .cat-link
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 999


.cat-col-content
  background-color: #f4f4f4
  height: 150px
  line-height: 150px
  text-align: center
