.comments-title
  display: block
  width: 100%
  font-weight: 500
  background-color: #fff
  height: 55px
  line-height: 54px
  padding: 0 20px
  border-bottom: 1px solid #f1f1f1
  border-radius: 4px 4px 0 0
  margin: 0
  font-size: 14px
  text-transform: uppercase
  letter-spacing: 0.2px

.edit-link
  margin-left: 14px
  border: 1px solid #DDD
  height: 24px
  padding: 0 10px
  display: inline-block
  border-radius: 2px
  text-transform: uppercase
  font-family: $heading_font
  font-size: 13px
  font-weight: 500

.comment-list
  list-style-type: none
  padding: 0
  background-color: #fff
  & > li
    padding: 16px 20px 20px 20px
    border-bottom: 1px solid #f1f1f1
    margin: 0
    .comment-meta
      display: inline-block
      width: 100%
      padding: 0
      border: none
      border-bottom: 1px solid #F1f1f1
      padding-bottom: 15px
      a,
      span
        vertical-align: middle
    .comment-author
      img
        width: 30px
        height: 30px
        border-radius: 4px
        vertical-align: middle
        margin-right: 9px
    .comment-author
      display: inline-block
      float: left
      .says
        display: none
      .fn
        font-size: 15px
    .comment-metadata
      font-size: 1.4rem
      display: inline-block
      float: right
      margin-top: 5px
      a,
      span
        color: rgba(0,0,0,0.5)
    .comment-content
      display: inline-block
      overflow: hidden
      width: 100%
      margin-top: 15px
      p
        font-size: 15px
        line-height: 1.6
      .stars
        display: inline-block
        background-color: #fff
        padding: 0 6px
        height: 35px
        line-height: 35px
        border-radius: 4px
        border: 1px solid #ECECEC
        margin-bottom: 5px
        span
          line-height: 31px
          font-size: 15px
          display: inline-block
          color: #0298e0
          &.dashicons-star-empty
            color: rgba(0,0,0,0.3)!important
        &.star-1
          span
            color: #db3552
        &.star-2
          span
            color: #db3552
        &.star-3
          span
            color: #fb8a2e
        &.star-4
          span
            color: #7fbb00
        &.star-5
          span
            color: #279b37
    .reply
      a
        display: inline-block
        font-size: 11px
        text-transform: uppercase
        border: 1px solid #DDD
        padding: 2px 8px
        border-radius: 3px
        font-weight: 500
        color: rgba(0,0,0,0.65)
        transition: all 0.3s
        &:hover
          color: #0298e0
          transform: translate(0, -1px)


.comment-list
  background-color: #fff
  box-shadow: 0 2px 2px rgba(0,0,0,.05)
  border-radius: 4px
  max-width: 100%
  border: 1px solid #f1f1f1

#respond
  background-color: #fff
  box-shadow: 0 2px 2px rgba(0,0,0,.05)
  border-radius: 4px
  max-width: 100%
  border: 1px solid #f1f1f1
  #reply-title
    display: block
    width: 100%
    font-weight: 500
    background-color: #fff
    height: 55px
    line-height: 54px
    padding: 0 20px
    border-bottom: 1px solid #f1f1f1
    border-radius: 4px 4px 0 0
    margin: 0
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 0.2px
    margin-bottom: 8px
    color: #000
    display: inline-block
    width: 100%
    small
      font-size: 14px
      float: right
      border-bottom: 1px solid #DDD
      line-height: 17px
      margin-top: 17px
      letter-spacing: -0.5px
  form
    list-style-type: none
    padding: 20px
    background-color: #fff
    margin: 0
    input,
    textarea
      width: 100%
      height: 48px
      line-height: 48px
      padding: 0 12px
      border: 1px solid rgba(0,0,0,0.1)
      font-size: 14px
      margin-bottom: 0
      position: relative
      transition: all 0.3s
      box-shadow: 0 0.05em 0.125em rgba(29,24,31,.1)
      &#wp-comment-cookies-consent
        width: auto
        float: left
        vertical-align: middle
        height: 21px
        margin-right: 11px
        margin-top: 1px
        box-shadow: none
        border: none
      &#submit
        font-size: 11.5px
        width: auto
        height: 42px
        line-height: 41px
        padding: 0 16px
        -webkit-appearance: none
    .comment-form-cookies-consent
      label
        font-size: 14px
        font-weight: 500
    .comment-form-comment
      margin-bottom: 15px
    textarea
      line-height: 1.5!important
      padding: 15px 12px!important
      min-height: 120px
  .logged-in-as,
  .comment-notes
    font-size: 14px
    background-color: #ebeeef
    border-radius: 4px
    height: 40px
    line-height: 42px
    padding: 0 12px
    color: rgba(0,0,0,0.4)
    @media (max-width: 600px)
      margin-bottom: 40px
    a
      &:last-child
        border-bottom: 1px solid #000
.comment
  #respond
    margin-top: 20px
