//------------------------------------------
// Fonts
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!

@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebRegular.woff") format("woff"),
  url("../fonts/colfax/ColfaxWebRegular.eot") format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Colfax';
  src: url("../fonts/colfax/ColfaxWebMedium.woff") format("woff"),
  url("../fonts/colfax/ColfaxWebMedium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}


@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-regular.woff2") format("woff2"),
  url("../fonts/proxima-nova-regular.woff") format("woff"),
  url("../fonts/proxima-nova-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-medium.woff2") format("woff2"),
  url("../fonts/proxima-nova-medium.woff") format("woff"),
  url("../fonts/proxima-nova-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
