//------------------------------------------
// Footer
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!

footer
  padding: 55px 0 10px 0
  border-top: 1px solid #ECECEC
  display: inline-block
  width: 100%
  overflow: hidden
  .footer-block
    padding: 0
    .footer-nav-title
      font-weight: 500
      color: rgba(0,0,0,0.8)
      text-transform: uppercase
      font-size: 13px
      letter-spacing: 0.2px
    &.footer--nav
      @media only screen and (max-width: 768px)
        margin-bottom: 30px
      ul
        margin: 0
        li
          margin: 0
          list-style-type: none
          font-size: 1.5rem
          a
            margin-top: 3px
            display: inline-block
            padding-right: 24px
            transition: all 0.3s
            color: rgba(0,0,0,0.55)
            &:hover
              color: rgba(0,0,0,0.95)
    &.footer--copyright
      text-align: left
      padding-right: 40px
      padding-top: 8px
      img
        width: 130px
        margin-bottom: 10px
      .com-social
        font-size: 17px
        padding-bottom: 10px
        display: inline-block
        width: 100%
        margin-bottom: 10px
        a
          display: inline-block
          margin-right: 10px
          color: rgba(0,0,0,0.5)
      p
        font-size: 15px
        color: rgba(0,0,0,0.55)
        padding-right: 7px
        margin-bottom: 10px
      span
        font-size: 1.4rem
        display: inline-block
        width: 100%
        color: rgba(0,0,0,0.5)


footer .footer-block.footer-copy
  padding-top: 20px
  border-top: 1px solid #ECECEC
  margin-top: 20px
  span
    font-size: 1.4rem
    display: inline-block
    width: 100%
    color: rgba(0,0,0,0.5)

.mobile-navigator
  position: fixed
  bottom: 0
  z-index: 99
  height: 50px
  line-height: 50px
  background-color: #FFF
  width: 100%
  left: 0
  right: 0
  box-shadow: -2px -2px 10px rgba(0,0,0,0.1)
  display: none
  @media (max-width: 768px)
    display: block
  a
    display: inline-block
    width: 50%
    text-align: center
    float: left
    text-transform: uppercase
    font-size: 13px
    color: #232323
    &:first-child
      border-right: 1px solid #f1f1f1
