//------------------------------------------
// Header
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!


.home
  header.main__header
    &.fixed
      .header--search
        display: block

header.main__header
  //background-color: #24292e
  //background-color: #00577b
  //background-color: #002654
  font-family: $heading_font
  font-size: 1.5rem
  height: 65px
  line-height: 65px
  padding: 0 10px
  position: relative
  display: inline-block
  width: 100%
  float: left
  border-bottom: 1px solid rgba(255,255,255,0.08)
  background: linear-gradient(to right, #0272a8 72%,#1d81b1 72%)
  @media(max-width: 600px)
    background: #0272a8
    height: 55px
    line-height: 57px
  .row.row-no-padding>.column
    @media (max-width: 768px)
      position: relative
  .header-master
    display: flex!important
    flex-wrap: wrap!important
    .column
      width: auto
      max-width: fit-content
      &.fill-available
        max-width: inherit
        max-width: -webkit-fill-available
        @media (max-width: 768px)
          display: none
  .header__block
    display: inline-block
    float: left
    &.header--brand
      img
        width: 110px
        display: inline-block
      a
        display: inline-block
        height: 75px

        &.logo-mobile
          display: none
          width: 22px
          margin-top: 11px
        &.logo
          margin-top: 10px
          margin-right: 35px
          img
            width: 27px
        &.logo-dark
          display: none
    &.header--menu
      position: relative
      @media(max-width: 768px)
        position: absolute
        right: 0
        left: 0
        text-align: center
      .header-menu
        @media(max-width: 768px)
          display: none
      .mobile-trigger
        color: #FFF
        float: right
        font-size: 16px
        text-transform: uppercase
        letter-spacing: 0.2px
        font-weight: 500
        display: none
        @media(max-width: 768px)
          display: block
          float: none
        i
          font-size: 30px
          vertical-align: middle
          margin-top: -5px
    &.header--search,
    &.header--misc
      float: right
      //width: 100%

#page .header--search div[id*='ajaxsearchlite'].wpdreams_asl_container
  width: 360px
  border: none
  box-shadow: none
  background-color: transparent
  margin-top: 0
  box-shadow: none
  border-radius: 0
  float: right
  @media (max-width: 1024px)
    width: 250px
  @media (max-width: 768px)
    margin-top: 0
#page .header--search div.asl_w .probox .proclose:before
  content: "\f10b"
  font-family: "wpcom-icons"
  top: 0px
  right: 3px
  color: #FFF
  position: absolute
  height: 23px
  width: 20px
  z-index: 9999999
  font-size: 32px
  line-height: 25px
#page .header--search div.asl_w .probox .proclose svg
  display: none
#page .header--search div.asl_w .probox
  height: 63px
  border-radius: 0
  border: 1px solid transparent
  border-bottom: none
  background-color: #1d81b1
  box-shadow: none
  border-bottom: 1px solid rgba(255,255,255,0.08)
#page header.fixed .header--search div.asl_w .probox
  border: 1px solid #f1f1f1
  background-color: #FFF
#page .header--search div.asl_m .probox .proinput input
  height: 63px
  font-size: 14px
#page .header--search div.asl_m .probox .proinput
  padding: 0 10px
#page .header--search div.asl_w .probox .promagnifier
  width: 48px
  height: 63px
  opacity: 0.25
  box-shadow: none
#page .header--search div.asl_w .probox .proloading
  width: 23px
  height: 23px
  margin-top: 10px
  opacity: 0.4
#page .header--search div.asl_w .probox .proclose
  width: 21px
  height: 21px
  margin-top: 20px
  opacity: 0.5
#page .header--search div.asl_w .probox div.asl_simple-circle
  border: 2px solid #fff
#page div.asl_w .probox .promagnifier .innericon svg
  fill: rgba(255,255,255,0.8)!important
#page .header--search div.asl_m .probox .proinput input
  color: #FFF!important
  &::-webkit-input-placeholder
   color: rgba(255,255,255,0.8)!important
  &::-moz-placeholder
   color: rgba(255,255,255,0.8)!important
  &:-ms-input-placeholder
   color: rgba(255,255,255,0.8)!important
  &::placeholder
   color: rgba(255,255,255,0.8)!important
#page header.fixed .header--search div.asl_m .probox .proinput input
  color: #232323!important
  &::-webkit-input-placeholder
   color: rgba(0,0,0,0.8)!important
  &::-moz-placeholder
   color: rgba(0,0,0,0.8)!important
  &:-ms-input-placeholder
   color: rgba(0,0,0,0.8)!important
  &::placeholder
   color: rgba(0,0,0,0.8)!important
body div.asl_r .results .item .asl_content .asl_desc
  color: rgba(0,0,0,0.6)

.header-menu,
.header-misc
  display: inline-block
  margin: 0
  padding: 0
  li
    display: inline-block
    float: left
    margin-right: 22px
    position: relative
    &.menu-item-has-children
      &:before
        content: "\f101"
        font-family: "wpcom-icons"
        color: rgba(255,255,255,0.7)
        float: right
        margin-left: 5px
    &:hover
      a
        color: #FFF
        &:before
          color: #FFF
      .sub-menu
        opacity: 1
        visibility: visible
    .sub-menu
      position: absolute
      left: -25px
      top: 50px
      margin-left: 5px
      background-color: #FFF
      width: 195px
      padding: 1.4rem 0
      border-radius: 0 0 4px 4px
      z-index: 99999999
      visibility: hidden
      opacity: 0
      transition: all 0.3s
      box-shadow: 0px 2px 10px rgba(0,0,0,0.15)
      li
        line-height: initial
        padding: 0 2rem
        display: inline-block
        width: 100%
        text-align: left
        text-transform: none
        margin: 0
        a
          font-size: 1.45rem
          color: rgba(0,0,0,0.85)
          text-transform: none
          font-weight: 400
          letter-spacing: 0
          display: inline-block
          padding: 8px 0
          width: 100%
          &:hover
            color: rgba(0,0,0,0.5)
    a
      color: rgba(255,255,255,0.7)
      text-transform: uppercase
      font-size: 13px
      font-weight: 500
      letter-spacing: 0.2px
      transition: all 0.3s
      position: relative
      display: inline-block
      &:after
        content: ""
        position: absolute
        width: 0px
        height: 2px
        background-color: rgba(255,255,255,0.2)
        left: 0
        bottom: 18px
        transition: all 0.3s
    &:hover
      a
        &:after
          width: 100%


.header--mobile-trigger a:before
.header--mobile-trigger a:after
	content: ''
	display: block
	background: #fff
	height: 2px

.header--mobile-trigger a span
	background: #fff
	display: block
	height: 2px
	margin: 6px 0

#menu
  background: #232323
  color: #FFF
  --mm-spn-item-height: 46px
  --mm-ocd-max-width: 500px
  --mm-spn-item-indent: 0
  .header-menu2
    background-color: #515151
  .mobile-search
    background-color: #232323
    &:before
      content: none
  &.mm-spn a
    padding-left: 20px!important
  .nav-separator
    padding-left: 20px
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    font-family: $heading-font
    padding-top: 20px
  &.mm-spn a:not(:last-child):after
    content: none
  &.mm-spn li:after
    color: rgba(255,255,255,0.2)
  .section
    &.lvl--1
      background-color: #3c3c3c
    &.lvl--2
      background-color: #525252
  &.mm-spn.mm-spn--navbar:before
    left: 20px!important
  &.mm-spn a:not(:last-child)
    width: calc(100% - 100px)

.mmenu-search
  padding: 15px 20px
  input
    margin-bottom: 0
    background-color: rgba(255,255,255,0.1)
    border: none
    height: 40px
    font-size: 14px

.global__nav
  background-color: #252525
  height: 82px
  line-height: 82px
  @media (max-width: 600px)
    height: 70px
    line-height: 70px
  .header__block
    display: inline-block
    float: left
    &.header--sites
      position: relative
      z-index: 99999
      @media(max-width: 768px)
        display: none
      ul
        display: inline-block
        float: left
        margin: 0
        li
          font-family: $heading_font
          float: left
          list-style-type: none
          text-transform: uppercase
          margin-right: 30px
          font-weight: 500
          font-size: 14px
          letter-spacing: 0.2px
          position: relative
          a
            color: rgba(255,255,255,0.6)
            transition: all 0.3s
          &:hover
            a
              color: #FFF
          &.active
            a
              color: #FFF
            &:before
              font-family: "wpcom-icons"
              content: "\f102"
              position: absolute
              color: #0172a8
              font-size: 42px
              bottom: -37px
              left: 0
              right: 0
              text-align: center
              margin: 0 auto
    &.header--brand
      .logo
        position: absolute
        left: 0
        right: 0
        text-align: center
        top: 11px
        width: 120px
        margin: 0 auto
        img
          width: 28px
          transition: all 0.3s
        &:hover
          img
            transform: rotate(120deg)
    &.header--account
      position: relative
      z-index: 99999
      float: right
      @media(max-width: 768px)
        display: none
      ul
        display: inline-block
        float: left
        margin: 0
        li
          font-family: $heading_font
          float: left
          list-style-type: none
          text-transform: uppercase
          margin-left: 30px
          font-weight: 500
          font-size: 14px
          letter-spacing: 0.2px
          position: relative
          &.submit
            padding: 0 20px
            height: 43px
            line-height: 45px
            border-radius: 100px
            margin-top: 17px
            background-color: rgba(255,255,255,0.05)
            font-size: 13.5px
            transition: all 0.3s
            cursor: pointer
            a
              display: inline-block
              height: 43px
            &:hover
              background-color: #0272a8
              color: #FFF
          a
            color: rgba(255,255,255,0.6)
            transition: all 0.3s
          &:hover
            a
              color: #FFF
