//------------------------------------------
// Header-Fixed
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!

header.main__header
  &.fixed
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 999
    animation-name: slideInDown
    animation-fill-mode: both
    animation-duration: 0.5s
    animation-delay: 0.2s
    background-color: #FFF
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1)
    background: #FFF
    @media (max-width: 768px)
      height: 60px
      padding: 0.7rem 2rem
      display: none
    .header__block
      &.header--brand
        a
          &.logo
            display: none
          &.logo-dark
            display: inline-block
            img
              width: 105px
              margin-top: 29px
              display: inline-block
      &.header--menu
          .mobile-trigger
            display: none
          li
            &.menu-item-has-children
              &:before
                color: rgba(0,0,0,0.7)
          &:hover
            a
              color: #000
              &:before
                color: #000
          a
            color: rgba(0,0,0,0.7)
            text-transform: uppercase
            font-size: 13px
            font-weight: 500
            letter-spacing: 0.2px
            transition: all 0.3s
            position: relative
            display: inline-block
            &>:after
              background-color: rgba(0,0,0,0.2)
    @media (max-width: 768px)
      .header-master
        .column
          width: 30%
          max-width: 30%
          &.fill-available
            width: 70%
            max-width: 70%
            display: block
