//------------------------------------------
// Header
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!



.head
  position: relative
  background-color: #0072A8
  display: inline-block
  width: 100%
  float: left
  .headline-overlay
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgba(0, 86, 150, 0.85)
    background: linear-gradient(45deg, rgba(0,86,150,1) 32%,rgba(0,86,150,0.98) 35%,rgba(0,86,150,0.56) 100%)

#page
  .et_social_sidebar_slide
    .et_social_icons_container
      li
        &:first-child
          a
            background-color: #787878
        &:nth-child(2)
          a
            background-color: #8A8A8A
        &:nth-child(3)
          a
            background-color: #969696
        &:nth-child(4)
          a
            background-color: #A9A9A9
        &:nth-child(5)
          a
            background-color: #B8B8B8
        &:nth-child(6)
          a
            background-color: #C6C6C6
        &:nth-child(7)
          a
            background-color: #484848
            i
              color: #FFF
