//------------------------------------------
// Headline
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!



br
  @media(max-width: 600px)
    display: none
    
.headline
  color: #fff
  //background-color: #1f70b5
  //background-color: #2b3137
  //background-color: #3f4e5b
  //background-color: #0071a0
  //background: #2a313c url('../img/und-18.svg') no-repeat right -54px/800px
  //background: #1b3448
  //background: #00213e
  display: inline-block
  width: 100%
  float: left
  &.custom-page
    position: relative
    background-color: #005696
    margin-bottom: 35px
  .headline-overlay
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: -moz-linear-gradient(45deg, rgba(0,86,150,1) 32%, rgba(0,86,150,0.98) 35%, rgba(0,86,150,0.56) 100%)
    background: -webkit-linear-gradient(45deg, rgba(0,86,150,1) 32%,rgba(0,86,150,0.98) 35%,rgba(0,86,150,0.56) 100%)
    background: linear-gradient(45deg, rgba(0,86,150,1) 32%,rgba(0,86,150,0.98) 35%,rgba(0,86,150,0.56) 100%)
  .headline-content
    padding: 110px 0 120px
    text-align: center
    //background: #1b3448 url('../img/com6.png') no-repeat right 0px/700px
    width: 100%
    &.headline--arch
      padding: 70px 0
      h1
        margin-bottom: 0
    button
      background-color: transparent
      border: none
      padding: 0
      margin: 0 18px
      border-bottom: 2px solid #FFF
      height: auto
      line-height: inherit
      padding-bottom: 5px
      border-radius: 0
      font-size: 15px
      font-family: $heading_font
      transition: all 0.3s
      @media(max-width: 600px)
        margin-bottom: 15px
      a
        color: #FFF
        transition: all 0.3s
      &:hover
        color: rgba(255,255,255,0.6)
        border-color: rgba(255,255,255,0.6)
        a
          color: rgba(255,255,255,0.6)
    &.headline--search
      padding: 50px 0
      h1
        margin-bottom: 0
        font-size: 36px
    &.headline--404
      padding: 220px 0!important
    &.headline--page
      h2
        margin-bottom: 0
    &.headline--archive
      padding: 30px 0
      h1
        font-size: 32px
        margin: 0
        padding-left: 25px
        &:before
          content: ''
          width: 16px
          height: 5px
          background-color: #0287be
          display: inline-block
          vertical-align: middle
          margin-right: 10px
          border-radius: 2px
          position: absolute
          top: 50%
          transform: translate(0,-50%)
          left: 0
    &.headline--single
      padding: 30px 0
      h1
        font-size: 32px
        margin: 0
        padding-left: 25px
        &:before
          content: ''
          width: 16px
          height: 5px
          background-color: #0287be
          display: inline-block
          vertical-align: middle
          margin-right: 10px
          border-radius: 2px
          position: absolute
          top: 50%
          transform: translate(0,-50%)
          left: 0
    @media (max-width: 1100px)
      padding: 110px 0
    @media (max-width: 767px)
      padding: 80px 0
    img
      margin-bottom: 20px
      display: none
    @media (max-width: 480px)
      padding: 60px 0
    h1
      font-family: $heading_font
      font-weight: 500
      line-height: 1.15
      margin-bottom: 10px
      letter-spacing: -1.5px
      font-size: 4.1rem
      animation-name: fadeInUp
      animation-fill-mode: both
      animation-duration: 1s
      animation-delay: 0.4s
      position: relative
      @media (max-width: 768px)
        font-size: 4rem
        letter-spacing: -1.7px
      @media (max-width: 480px)
        font-size: 3rem
        letter-spacing: -1.4px
      @media (max-width: 320px)
        font-size: 2.5rem
        letter-spacing: -1px
    h2
      font-weight: 500
      color: rgba(255,255,255,0.70)
      line-height: 1.35
      font-size: 2.3rem
      animation-name: fadeInUp
      animation-fill-mode: both
      animation-duration: 1s
      animation-delay: 0.7s
      letter-spacing: -0.30px
      font-family: $main_font
      @media (max-width: 768px)
        font-size: 2rem
        letter-spacing: -0.5px
      @media (max-width: 480px)
        font-size: 1.7rem
    span
      font-size: 13.5px
      display: inline-block
      margin-top: 10px
      opacity: 0.5

.resource
  .headline
    .headline-content
      padding: 0
.page
  .headline
    .headline-content
      padding: 60px 0
.category
  .headline
    .headline-content
      padding: 75px 0

.headline-block
  color: #FFF
  display: inline-block
  margin-top: 12px
  font-size: 15px
  a
    display: inline-block
    padding-right: 5px
    margin-right: 12px
    color: rgba(255,255,255,0.9)
    i
      font-size: 22px
      vertical-align: middle

.column--catinfo
  margin-bottom: 20px!important

.cat-info
  background-color: #fff
  box-shadow: 0 2px 2px rgba(0,0,0,.05)
  border-radius: 4px
  padding: 20px
  h1
    font-size: 21px
    margin-bottom: 0
  p
    margin-top: 10px
    margin-bottom: 0
    line-height: 1.6
    color: rgba(0,0,0,0.5)

.headline-featured
  display: inline-block
  width: 100%
  float: left
  background-color: #FFF
  border-bottom: 1px solid rgba(0,0,0,0.08)
  height: 60px
  line-height: 58px
  position: relative
  @media(max-width: 768px)
    display: none
  .featured-title
    text-transform: uppercase
    font-size: 14px
    color: #9e9e9e
    font-weight: 600
  .featured-images
    position: absolute
    top: 0
    left: 0
    right: 0
    text-align: center
    img
      width: 110px
      filter: grayscale(100%)
      opacity: .6
      vertical-align: middle
      margin: 0 22px
      display: inline-block
      margin-top: 0px
      transition: all 0.3s
      &:hover
        filter: grayscale(0%)
        opacity: 1
      &.knowtechie
        margin-top: -4px
      &.betalist
        width: 100px
