/**************************\
  Basic Modal Styles
\**************************/

.modal {

}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 49, 60, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal__container {
  background-color: #fff;
  padding: 30px 28px 20px 28px;
  max-width: 470px;
  min-width: 520px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  @media (max-width: 768px) {
    max-width: 90%;
    min-width: 90%;
  }
}

.modal__header {
  border-bottom: 1px solid #ececec;
  padding: 0 0 2rem 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  img {
    width: 35px;
    background-color: #fff;
    padding: 0;
    margin-bottom: 8px;
    transition: all 0.5s;
    transition-delay: 0.2s;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.25;
  color: #1f1f1f;
  box-sizing: border-box;
}

.modal__close {
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  border: none;
  background-color: transparent;
  color: #232323;
  border-bottom: none;
  padding: 0;
  border-radius: 100px;
  transition: all 0.3s;
  font-size: 28px;
  line-height: 35px;
  position: fixed;
  top: 5px;
  right: 5px;
  &:focus {
    background-color: #f4f4f4;
    color: #232323;
  }
  &:hover {
    color: #000;
    background-color: #f4f4f4;
  }
  &:before {
    content: "\f106";
    font-family:"wpcom-icons";
    margin-left: 2px;
  }
}

.modal__header .modal__close:before {
  content: "\f106";
    position: absolute;
    left: 2px;
    right: 0;
    top: 48%;
    transform: translate(0, -50%);
    font-size: 1.4rem;
}

.modal__content {
  margin: 20px 0 25px 0;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: 1.4rem;
  padding: 0 2rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  letter-spacing: 0;
  line-height: initial;
  border: none;
  text-transform: none;
  height: 4rem;
  line-height: inherit;
  margin: 0;
  i {
    font-size: 1.4rem;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
  }
}

.modal__btn-primary {
  background-color: #007ac1;
  color: #fff;
}

.modal__btn-report {
  background-color: #555d61;
  color: #FFF;
}

.modal__footer {
  padding: 1.5rem 0 0 0;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal--slide {
  display: none;
}

.modal--slide.is-open {
  display: block;
  .modal__header {
    img{
      transform: rotate(120deg);
    }
  }
}

.modal--slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal--slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal--slide .modal__container,
.modal--slide .modal__overlay {
  will-change: transform;
}


.modal {
  margin-bottom: 0;
  .wpcf7-form {
    &.sent {
      height: 1px;
      overflow: hidden;
      border-bottom: 2px solid #34bf49;
      margin-top: 30px;
    }
  }
}
form {
  button {
    margin-top: 15px;
  }
}

.input__box {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  .input--note {
    font-size: 13.5px;
    margin-top: 11px;
    background-color: #ECECEC;
    padding: 1rem;
    border-radius: 4px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
  label {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
  }
  input,
  select,
  textarea {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 0.05em 0.125em rgba(29,24,31,.1);
    &:focus {
      border-color: rgba(0,0,0,0.4);
    }
    &.has-content {
      border-bottom: 2px solid #0287be;
    }
  }
  textarea {
    line-height: 1.5;
    padding: 12px;
    min-height: 100px;
  }
  select {
    background-image: url('../img/arrow-down.png');
    background-size: 12px;
    background-position: right 15px center;
    option {
      &:disabled {
       color: rgba(0,0,0,0.6);
     }
   }
  }
}


.modal--colored {
  .modal__title {
    color: #FFF;
  }
  .modal__content {
    color: rgba(255,255,255,.8);
  }
  .modal__container {
    padding: 35px 28px;
  }
}



#modal--share {
  .modal__container {
    background-color: #005dad;
    text-align: center;
    padding: 28px;
  }
  .modal__header {
    border-bottom: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-bottom: none;
    padding: 0;
    img {
      width: 86px;
      background-color: #FFF;
      padding: 19px;
      border-radius: 100px;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
      transform: rotate(0);
    }
  }
  .modal__content {
    margin: 10px 0;
    i
      color: #FFF;
      text-decoration: underline;
      font-weight: 500;
    .subscribe__form input {
      background-color: #FFF;
      color: #000;
      &::-webkit-input-placeholder {
        color: rgba(0,0,0,0.8)}
      &::-moz-placeholder{
        color: rgba(0,0,0,0.8)}
      &:-ms-input-placeholder{
        color: rgba(0,0,0,0.8)}
      &:-moz-placeholder{
        color: rgba(0,0,0,0.8)}
      & + i{
        color: rgba(0,0,0,0.8)}
    }
    .subscribe__form button {
      background-color: #005dad;
      color: #FFF;
    }
    .ps {
      font-size: 14px;
      color: rgba(255,255,255,0.5);
      line-height: 1.6;
      display: inline-block;
      margin-top: 5px;
    }
  }
  .modal__title {
    font-size: 26px;
    font-weight: 600;
  }
  .modal__close {
    color: #FFF!important;
  }
}

#modal--reply {
  .modal__container {
    background-color: #3b4454;
    text-align: center;
    padding: 28px;
  }
  .modal__header {
    border-bottom: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    border-bottom: none;
    padding: 0;
    img {
      width: 86px;
      background-color: #FFF;
      padding: 19px;
      border-radius: 100px;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    }
  }
  .modal__content {
    margin-top: 10px;
    margin-bottom: 0;
    hr {
      border: none;
      border-bottom: 2px solid rgba(255,255,255,0.1);
    }
  }
  .modal__title {
    font-size: 26px;
  }
}

.social__block {
  margin-top: 20px;
  span {
    display: inline-block;
    margin-right: 5px;
  }
  a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255,255,255,0.1);
    color: #FFF;
    border-radius: 4px;
    margin-left: 3px;
  }
}
