//------------------------------------------
// Widgets
// @author Atakan Oz
// @copyright @2019 ATAKANOZ
// @todo Optimize further!
@media (max-width: 920px)
  #subscribe-box
    order: 3
  #home-sections
    order: 1
  #sidebar
    order: 2

#subscribe-box
  overflow: hidden
  margin-top: 30px
  width: 100%
  float: left

#sidebar
  padding-right: 30px
  padding-left: 2rem
  margin-bottom: 25px
  overflow: hidden
  .sticky
    width: 100%
    margin-bottom: 25px
  @media (max-width: 768px)
    padding: 0 2rem
    margin-top: 40px
  @media (max-width: 600px)
    padding: 0

.widget
  width: 100%
  margin-bottom: 35px
  display: inline-block
  border: 1px solid #f1f1f1
  border-radius: 4px
  .section-title
    span
      font-size: 16px
      vertical-align: middle
      display: inline-block
      text-align: center
      margin-right: 2px
      &.cat
        color: #52a6e4
      &.tag
        color: #4ab866
      &.recommend
        color: #4f748e
  ul
    li
      list-style-type: none
  &.widget--categories
    box-shadow: 0 2px 2px rgba(0,0,0,.05)
    .rsc-categories
      width: 100%
      background-color: #FFF
      border-bottom: none
      border-radius: 0 0 4px 4px
      font-size: 1.5rem
      .main-navigator
        padding: 2.2rem
        margin-bottom: 0
        border-bottom: 1px solid #ECECEC
        h5
          font-size: 16px
          margin-bottom: 5px
          font-weight: 500
        p
          margin-bottom: 0
          color: rgba(0,0,0,.65)
          i
            text-decoration: underline
        a
          margin-bottom: 1.5rem
          position: relative
          font-weight: 600
          color: rgba(0,0,0,0.85)
          border-radius: 4px
          display: inline-block
          width: 100%
          font-size: 15px
          i
            vertical-align: text-top
      .cat-navigator,
      .tag-navigator
        padding: 2.2rem
        h5
          text-transform: uppercase
          letter-spacing: 0.2px
          font-size: 13px
          font-weight: 500
        ul
          margin-bottom: 0
          li
            margin-bottom: 1.5rem
            position: relative
            font-weight: 400
            color: rgba(0,0,0,0.5)
            border-radius: 4px
            &:last-child
              margin-bottom: 0
            a
              transition: All 0.3s
              display: inline-block
              width: 100%
              color: rgba(0,0,0,.55)
              font-weight: 400
              font-family: $heading_font
              span
                float: right
            &:hover
              & > a
                color: #005ee0
      .tag-navigator
        border-top: 1px solid #ECECEC

#subscribe
  margin-bottom: -10px
  background-color: #0072a8
  background-blend-mode: soft-light
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  .subscribe-box
    width: 100%
    padding: 6.5rem 0
    border-radius: 4px
    color: #FFF
    @media (max-width: 600px)
      padding: 3.5rem
    .subscribe-content
      width: 60%
      display: inline-block
      @media (max-width: 600px)
        width: 100%
    h5
      font-size: 2.2rem
      margin: 0
      font-family: $heading_font
      font-weight: 500
    p
      font-size: 1.6rem
      margin: 5px 0 17px
      color: rgba(255,255,255,0.7)
      letter-spacing: -0.2px
      font-family: $main_font
      font-weight: 500
.subscribe__form
  margin-bottom: 0
  position: relative
  input
    height: 45px
    background-color: #FFF
    color: #000
    border-radius: 4px
    margin-bottom: 10px
    border: none
    font-size: 1.4rem
    padding: 0 2rem
    transition: all 0.3s
    &::-webkit-input-placeholder
      color: rgba(0,0,0,0.8)
    &::-moz-placeholder
      color: rgba(0,0,0,0.8)
    &:-ms-input-placeholder
      color: rgba(0,0,0,0.8)
    &:-moz-placeholder
      color: rgba(0,0,0,0.8)
    & + i
      color: rgba(0,0,0,0.8)
    &:focus ~ span
      margin-left: 12px
      &.form-notification
        margin-left: 0
  span
    font-size: 1.3rem
    color: rgba(255,255,255,0.6)
    margin: 0
    margin-top: 1rem
    float: left
    &.form-notification
      font-size: 1.4rem
      color: #FFF
      display: inline-block
      padding: 2px 15px
      border-radius: 4px
      display: none
      &.success
        background-color: #178e29
      &.failure
        background-color: #9c2d3b
  button
    border: none
    background-color: #0072a8
    color: #FFF
    transition: all 0.3s
    float: left
    transition: all 0.3s
    position: absolute
    right: 0
    right: 4px
    z-index: 999999
    height: 36px
    line-height: 36px
    top: 4px
    padding: 0 1.5rem
    margin: 0
