body
  animation-name: fadeIn
  animation-duration: 0.3s
  animation-fill-mode: both
  animation-delay: 0.2s
  &.fixed
    padding-top: 75px

#home-sections
  padding: 30px 0

#noscript
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 999999
  background-color: #2a313c
  p
    position: absolute
    top: 50%
    left: 0
    right: 0
    transform: translate(0, -50%)
    color: #FFF
    text-align: center

.content
  padding: 40px 0 40px
  //background-color: #fafbfc
  //background-color: #FFF
  //background-color: #edf0f3
  background-color: #fff
  &>.container
    &>.row
      @media (max-width: 920px)
        flex-direction: column
  @media (max-width: 768px)
    padding: 50px 0 0

.home
  .content
    padding: 15px 0 0 0

.archive
  .content
    padding: 30px 0 30px

#content
  display: inline-block
  width: 100%
  float: left
  overflow: hidden

.single-resource
  .content
    padding-top: 30px


.section-title
  display: block
  width: 100%
  font-weight: 500
  font-size: 1.3rem
  //background-color: #FFF
  height: 50px
  line-height: 50px
  padding: 0 20px
  border-bottom: 1px solid #F1F1F1
  text-transform: uppercase
  border-radius: 4px 4px 0 0
  font-family: $heading_font
  span
    margin-right: 5px
  #tabs
    display: inline-block
    float: left
    overflow: hidden
    width: 100%
    margin-bottom: 25px
    li
      float: left
      text-transform: none
      font-size: 1.3rem
      margin-bottom: 0
      display: inline-block
      letter-spacing: 0.2px
      color: rgba(0,0,0,0.5)
      text-transform: uppercase
      @media (max-width: 600px)
        margin-top: 8px
      a
        display: inline-block
        padding: 0 22px
        border: 1px solid #ECECEC
        border-radius: 100px
        height: 40px
        line-height: 40px
        color: rgba(0,0,0,0.3)
        margin-right: 10px
        font-weight: 500
      &.active
        a
         color: #000
         border: 1px solid #DDD
  &.title--loop
    text-transform: none
    background-color: #FFF
    margin: 0
    height: auto
    line-height: inherit
    padding: 0 20px
    border-radius: 4px 4px 0 0
    height: 60px
    line-height: 60px
    h1,
    h2,
    h3
      margin-top: 20px
    p
      font-size: 15px
      line-height: 1.6
      color: rgba(0,0,0,0.6)
      letter-spacing: 0
      font-weight: 400
      margin-bottom: 15px
      &:first-child
        margin-top: 15px
      &:last-child
        margin-bottom: 20px
    h1,
    h2,
    h3,
    h5
      text-transform: none
      font-size: 1.4rem
      margin-bottom: 8px
      font-weight: 500
      color: #000
      display: inline-block
      width: 100%
      letter-spacing: .2px
      text-transform: uppercase
      a
        float: right
        font-size: 30px
        line-height: 0
        vertical-align: top
        color: rgba(0,0,0,0.35)
        transition: all 0.3s
        &:hover
          color: #000
        i
          vertical-align: top
          display: inline-block
          margin-top: -2px
  &.title--has-desc
    h1
      margin-bottom: 15px
      //border-bottom: 1px solid #F1f1f1
      padding-bottom: 18px
  &.title--featured
    padding: 0
    text-transform: none
    border: none
    line-height: inherit
    height: auto
    background-color: transparent
    h5
      font-size: 17px
      letter-spacing: -0.2px
      text-transform: none
      margin-bottom: 4px
      font-weight: 500
      //margin-bottom: 20px
    p
    margin-bottom: 0

.load-more
  padding: 0 1rem
  display: inline-block
  width: 100%

.more
  width: 100%
  text-align: center
  display: inline-block
  height: 50px
  line-height: 50px
  background-color: #FFF
  font-size: 1.3rem
  letter-spacing: 0.5px
  transition: All .4s
  color: rgba(0,0,0,0.5)
  font-weight: 500
  border: none
  font-family: $heading_font
  text-transform: uppercase
  border-bottom: 2px solid transparent
  &.more--home
    text-align: left
    margin-top: 20px
    border-bottom: 2px solid #ECECEC
  &:hover
    color: rgba(0, 86, 150, 1)
    border-bottom: 2px solid rgba(0, 86, 150, 1)
  span
    font-size: 20px
    vertical-align: middle
    margin-top: -1px


#home-featured
  .owl-theme .owl-nav.disabled+.owl-dots
    width: 100%
    text-align: center
    margin: -15px 0px 0 0px
    height: 45px
    line-height: 42px
  .owl-theme .owl-dots .owl-dot span
    width: 6px
    height: 6px
    border-radius: 100px
  .owl-carousel .owl-stage-outer
    padding-top: 0
    float: left

.page-sections
  display: block
  border-top: 1px solid #ECECEC
  background-color: #ffffff
  #subscribe,
  #give
    @media (max-width: 1100px)
      flex: 0 0 50%
      max-width: 50%
    @media (max-width: 768px)
      flex: 0 0 100%
      max-width: 100%

.page-template-page-adversting
  .wpcf7
    border-top: 1px solid #f1f1f1
    padding-top: 15px

body div.wpcf7-validation-errors,
body div.wpcf7-acceptance-missing
  border: 1px solid #ca2222
  border-radius: 4px
  margin-left: 0
  margin-right: 0
  box-shadow: 0px 2px 2px #ca222229
  padding: 1rem 2rem
  color: #ca2222
  font-size: 14px
body div.wpcf7-mail-sent-ok,
body div.wpcf7-acceptance-missing
  border: 1px solid #398f14
  border-radius: 4px
  margin-left: 0
  margin-right: 0
  box-shadow: 0px 2px 2px #398f1426
  padding: 1rem 2rem
  color: #398f14
  font-size: 14px
body span.wpcf7-not-valid-tip
  border: 1px solid #ca2222
  border-radius: 4px
  margin-left: 0
  margin-right: 0
  box-shadow: 0px 2px 2px #ca222229
  padding: 0.5rem 2rem
  color: #ca2222
  font-size: 13px
  margin-top: 10px
  position: absolute
  top: -16px
  right: 6px
  background-color: #FFF

#cookie_action_close_header
  background-color: rgb(2, 141, 201)!important
  border-radius: 4px!important
  color: #FFF!important
  box-shadow: 0px 2px 2px rgba(2, 141, 201, 0.21)
  transition: all 0.3s
  &:hover
    background-color: #0471a0!important

body #cookie-law-info-bar span
  font-size: 15px

body #cookie-law-info-bar
  box-shadow: rgba(0,0,0,.2) 0px 5px 50px
  padding: 10px

body .cli-plugin-main-link
  border-radius: 4px
  margin-left: 15px
  margin-right: 2px
  border: 1px solid #f4f4f4
  box-shadow: 0px 2px 2px
  box-shadow: 0 2px 2px rgba(0,0,0,.1)
  transition: all 0.3s
  text-decoration: none
  &:hover
     border: 1px solid #ececec
     background-color: #FFF!important
     color: #232323!important
body div.asl_r.vertical
  border-radius: 4px
  padding: 0
body div.asl_r .results .item
  padding: 12px 18px!important
body div.asl_r .results .item.hovered
  background: #f7fbfd!important
body div.asl_r .results .item .asl_content h3,
body div.asl_r .results .item .asl_content h3 a
  color: #232323!important
  font-weight: 500!important
body div.asl_r .results .item .asl_content .asl_desc
  margin-top: -3px!important
  font-size: 13px!important
body div.asl_r.vertical .results .asl_spacer
  background: none repeat scroll 0 0 #f4f4f4!important
#seed-csp4-content
  position: absolute
  top: 50%
  transform: translate(0,-50%)
  left: 0
  right: 0
  img
    max-width: 100%
    height: auto
    width: 120px
.com-share
  position: fixed
  right: 50px
  bottom: 100px
  a
    display: inline-block
    width: 55px
    height: 55px
    border: 1px solid #f4f4f4
    box-shadow: 0 2px 2px rgba(0,0,0,.1)
    border-radius: 100px
    text-align: center
    line-height: 54px
    font-size: 20px
    color: #015dad
    background-color: #FFF
  .com-share-block
    position: absolute
    top: -415px
    a
      margin-top: 10px

.home
  .resource-loop
    .resource-card
      &.featured-resource
        background-color: #FFF
        &:hover
          background-color: #f7fbfd
      &:hover
        background-color: #f7fbfd

.tab-content
  max-width: 100%
  .column
    padding: 0
  .tab-pane
    visibility: hidden
    opacity: 0
    height: 0
    transition: all 0.3s
    overflow: hidden
    .owl-carousel
      display: inline-block
    &.active
      display: inline-block
      width: 100%
      visibility: visible
      opacity: 1
      height: auto
      overflow: inherit

.alm-load-more-btn
  transition: all 0.3s
  &:hover,
  &:focus
    background-color: #FFF
    color: #0a559a
    border-bottom: 2px solid #0a559a
