#single-container
  padding: 0
  margin: 0
  .column-featured
    margin-bottom: 40px!important
  .resource-card
    height: auto
    padding: 2.5rem 0 0 0
    margin-bottom: 0
    box-shadow: 0 2px 2px rgba(0,0,0,.05)
    border: 1px solid #f1f1f1
    border-bottom: none
    border-radius: 4px
    @media (max-width: 600px)
      padding: 0
    &:hover
      background-color: #FFF
    .resource-link
      padding: 0
      padding-left: 95px
      @media (max-width: 600px)
        padding-left: 0
    .rsc-ss
      .rsc-ss-item
        @media (max-width: 600px)
          width: 400px
    .rsc-img
      min-width: 230px
      height: 205px
      @media (max-width: 600px)
        min-width: 100%
    .single-ss
      .rsc-ss-item
        @media(max-width: 450px)
          height: auto
    .rsc-info
      float: left
      display: inline-block
      position: relative
      width: 100%
      left: 0
      right: 0
      margin: 0 0 10px 0
      height: auto
      bottom: 0
      @media (max-width: 600px)
        height: auto
        text-align: center
        margin-top: 0
        padding-bottom: 0
      .rsc-cat
        @media (max-width: 600px)
          width: 100%
      .rsc-share
        opacity: 1
        visibility: visible
        @media (max-width: 600px)
          width: 100%
          margin-top: 10px
    .rsc-share
      float: right
      a
        color: rgba(0,0,0,.4)
        &:hover
          color: #FFF
    .rsc-content
      padding-left: 30px
      position: relative
      @media (max-width: 600px)
        padding: 25px 20px
      @media (max-width: 450px)
        margin: 0
      .rsc-title
        margin-bottom: 5px
        font-size: 20px
        letter-spacing: -0.2px
        @media (max-width: 600px)
          padding-left: 0
      .rsc-desc
        overflow: auto
        text-overflow: inherit
        white-space: normal
        letter-spacing: 0
        margin-bottom: 15px
      .rsc-tags
        span
          float: left
          vertical-align: middle
          letter-spacing: 0.2px
          text-transform: uppercase
          font-weight: 500
          font-size: 13px
          margin-right: 15px
          display: block
          width: 100%
          margin-bottom: 11px
      .rsc-col-holder
        left: 30px
        right: 30px
        bottom: 0
        border-radius: 4px
        border: 1px solid #f1f1f1
    .rsc-links
      display: inline-block
      margin-bottom: 0
      @media (max-width: 768px)
        position: relative
        right: auto
        top: auto
        width: 100%
        display: inline-block
        margin: 10px 0
      a
        display: inline-block
        height: 40px
        line-height: 40px
        font-weight: 500
        letter-spacing: -0.1px
        font-size: 1.5rem
        padding: 0 25px
        box-shadow: 0 2px 5px rgba(0,0,0,.05)
        border-radius: 4px
        background-color: #0298E0
        color: #FFF
        float: right
        transition: all 0.3s
        @media (max-width: 768px)
          width: 100%
          display: block
          text-align: center
          height: 45px
          line-height: 47px
        i
          margin-right: 2px
        &:hover
          background-color: #00a1ef
          box-shadow: 0 2px 8px rgba(0,0,0,.2)
          transform: translate(0, -1px)

.rsc-section-title
  float: left
  vertical-align: middle
  letter-spacing: 0.2px
  text-transform: uppercase
  font-weight: 500
  font-size: 13px
  margin-right: 15px
  display: block
  width: 100%
  margin-bottom: 11px

.rsc-col
  text-align: left
  border-top: 1px solid #ececec
  width: 100%
  display: inline-block
  padding-top: 20px
  p
    font-size: 15px
    color: rgba(0,0,0,0.65)
    margin-bottom: 0
    .coupon-code
      display: inline-block
      height: 23px
      line-height: 23px
      border: 1px dotted rgba(0,0,0,.3)
      background-color: #e5eef3
      text-decoration: none
      padding: 0 6px
      border-radius: 4px
      color: rgba(0,0,0,.5)
      font-weight: 500
      letter-spacing: .3px
      font-size: 14px

.rsc-col
  padding: 20px 25px
  border-radius: 4px
  border: none
  display: inline-block
  float: left

.rsc-col-holder
  display: inline-block
  width: 100%
  margin-top: 21px
  background-color: #f7f7f7
  float: left
  box-shadow: inset 0px 3px 5px rgba(0,0,0,0.03);

#page
  #single-container
    .wpulike
      left: 25px
      @media (max-width: 600px)
        left: 0
    .wpulike .wp_ulike_btn
      height: 205px
    .wpulike .wp_ulike_put_image:after
      transform: translate(-50%, -50%)
      top: 50%
    .wpulike .wp_ulike_general_class
      @media (max-width: 600px)
        position: relative

#single-main
  .loop--single
    height: auto
    padding: 25px!important
    margin-bottom: 0
    box-shadow: 0 2px 2px rgba(0,0,0,.05)
    border: 1px solid #f1f1f1
    border-bottom: none
    border-radius: 4px
    background-color: #f7f7f7
  .column--single
    margin-bottom: 30px

.owner
  background: #026ebe
  color: #FFF
  border-radius: 4px
  padding: 1.5rem 2rem
  margin-bottom: -10px
  font-size: 15px
  margin-top: 30px
  a
    color: #FFF
    text-decoration: underline

.coupon
  background-color: #f2f9fd
  border: 1px solid #b6d4e0
  height: 60px
  line-height: 60px
  padding: 0 20px
  margin-bottom: 20px
  border-radius: 4px
  font-size: 15px
  font-weight: 400
  span
    font-weight: 500
    text-decoration: underline
    &.code
      float: right
      display: inline-block
      height: 40px
      line-height: 40px
      margin-top: 9px
      border: 1px dotted rgba(0,0,0,0.3)
      background-color: #e5eef3
      text-decoration: none
      padding: 0 15px
      border-radius: 4px
      color: rgba(0,0,0,0.5)
      font-weight: 500
      letter-spacing: 0.3px
      font-size: 14px
